<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>netl beta</title>
<h1>Well done! You're all finished. Below are some results...</h1>
<br>
{% for download in downloads %}
<a href="/download/{{download}}">{{download}}</a><br>
{% endfor %}
<br>
<a href='/select_source'>Restart</a>
