<!doctype html>
<title>netl beta</title>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <meta name="theme-color" content="#fafafa">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<style>

    /* Split the screen in half */
.split {
  height: 100%;
  position: Absolute;
  z-index: 1;
  top: 0;
  padding-top: 20px;
  
}

/* Control the left side */
.left {
  left: 0;
  width: 30%;
}

/* Control the right side */
.right {
  right: 0;
  width: 70%;
  overflow-x: scroll;
}


table {
    width: 1%;
}

td {
    width: 10%;
}

</style>


<body>
    <div class="split left">
        <div class="centered">
            <form method="POST" action="{{ url_for('progress') }}" enctype="multipart/form-data">
                <h2>{{ title }}</h2>
                {% if job_number %}<h3>Job Number: {{ job_number }}</h3>{% endif %}
                <div id="desciption">{{ instructions|safe }}</div>
                <hr>
                
                {% if title == "Requirements:" %}
                Client Name: <input type="text" name='client'><br>
                Salesforce Case Number: <input type="text" name='case_number'><br>
                    {% for key in requirements.keys() %}
                        {% if requirements[key] is iterable and requirements[key] is not string %}
                        {{key}}: <select name="{{key}}"> {% for item in requirements[key] %} <option value="{{ item }}">{{ item }}</option>{% endfor %} </select><br>
                        {% else %}
                        {{key}}: <input type="text" name='{{key}}'><br>
                        {% endif %}
                
                    {% endfor %}
                {% endif %}
                <hr>
                {% if uploads %}
                <br>
                    {% for key in uploads.keys() %}
                        {{ key }}: <input type="file" name='{{ key }}'><br>
                    {% endfor %}
                {% endif %}
            
                <input type="submit" value="Submit">
                <br>
                {% if status %}
                    <h1>Status</h1><br>
                    {% for key in status.keys() %}
                        {{ key }}: {{ status[key] }}
                        <br> 
                    {% endfor %}
                {% endif %}
            
            </form>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
                {{table|safe}}
        </div>
      </div>

</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src = "https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready( function () {
        $('.frame').DataTable();
    } );

</script>


