<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    
    <div id="log_output" style="height: 100vh; overflow: auto"></div>



</body>




<script>

var socket = io();
socket.on('connect', function() {
    socket.emit('log_ready');
});

socket.on('live_log', function(msg) {
    myDivObj = document.getElementById("log_output");
    myDivObj.innerHTML += "<br>" + msg;
    myDivObj.scrollTop = myDivObj.scrollHeight;
    var prog = msg.match(/([0-9]+ of [0-9]+)/);
    if(prog != null && prog.length > 0){
        document.title = GetTimeRemaining(prog[0]) + " hours remain.";
    }else{
        var prog = msg.match(/(!? [A-Z]+ - )(.*)/);
        document.title = prog[2];
    }
});

socket.on('work_complete', function() {
    window.location.href = "/info_hub";
});


var previous_time = 0;
var count = 0;
var sum = 0;

function GetTimeRemaining(string){
    var numbers = string.match(/\d+/g).map(Number);
    var remaining_iterations = numbers[1] - numbers[0];
    var d = new Date();
    var seconds = d.getTime() / 1000;

    if(previous_time != 0) {
        sum += seconds - previous_time;
        count += 1
    }
    previous_time = seconds
  

    return Math.round(((((sum/count) * remaining_iterations)/60)/60) * 100) / 100;
}







// $(document).ready(function() {    
//     var io = io();

//     io.on('connection', function (socket){

//         alert("Connected.");
    
//         //receive details from server
//         socket.on('log_event', function(msg) {
//             myDivObj = document.getElementById("log_output");
//             myDivObj.innerHTML += "<br>" + msg["data"];
//         });

//         socket.on('disconnect', function(){
//             socket.emit('log_disconnect');
//         });

        
//         // Let the server know we are ready to start recieving logs.
//         socket.emit('log_ready');

//     });

// });







    
    



</script>