<!doctype html>
<title>netl beta</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<form method="POST" action="{{ url_for('info_hub') }}">
    <h1>Record Type Select:</h1>
    {% for record in record_types.keys() %}

        <h2><input type="radio" name="record_type" value= '{{ record }}'> {{ record }} </h2> {{ record_types[record].instructions }}<br>

    {% endfor %}
    <br>
    <input type="submit" value="Submit">

</form>