<!doctype html>
<title>netl beta</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<form method="POST" action="{{ url_for('record_types') }}">
    <h2>Source: </h2>
    <select name="sources">
        {% for source in sources %}
            <option value="{{ source }}">{{ source }}</option>
    
        {% endfor %}
    </select>
    <input type="submit" value="Submit">

</form>